{% load static %}
<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_title %}Aylim Tibbiyot{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
    <div class="dashboard-wrapper">
        <aside class="sidebar">
            <div class="sidebar-header">Aylim.uz</div>
            <nav class="sidebar-nav">
                <ul>
                    {% if request.user.rol == 'TALABA' %}
                        <li><a href="{% url 'tests:test_list' %}" class="{% if active_page == 'testlar' %}active{% endif %}"><i class="fas fa-file-alt fa-fw"></i> Testlar</a></li>
                        <li><a href="{% url 'tests:student_attendance' %}" class="{% if active_page == 'davomat' %}active{% endif %}"><i class="fas fa-user-check fa-fw"></i> Davomat</a></li>
                    {% elif request.user.rol == 'PEDAGOG' %}
                         <li><a href="{% url 'tests:teacher_test_list' %}" class="{% if active_page == 'mening_testlarim' %}active{% endif %}"><i class="fas fa-tasks fa-fw"></i> Mening testlarim</a></li>
                         {% if perms.tests.can_manage_attendance %}
                            <li><a href="{% url 'tests:attendance_management' %}" class="{% if active_page == 'davomat_boshqarish' %}active{% endif %}"><i class="fas fa-calendar-check fa-fw"></i> Davomatni Boshqarish</a></li>
                         {% endif %}
                    {% endif %}
                    <li><a href="{% url 'tests:timetable' %}" class="{% if active_page == 'dars_jadvali' %}active{% endif %}"><i class="fas fa-calendar-alt fa-fw"></i> Dars Jadvali</a></li>
                    <li><a href="{% url 'profile' %}" class="{% if active_page == 'profil' %}active{% endif %}"><i class="fas fa-user-circle fa-fw"></i> Mening profilim</a></li>
                </ul>
            </nav>
            <div class="sidebar-footer">
                 <nav class="sidebar-nav">
                    <ul>
                        <li><a href="{% url 'logout' %}"><i class="fas fa-sign-out-alt fa-fw"></i> Chiqish</a></li>
                    </ul>
                </nav>
            </div>
        </aside>
        <div class="main-content-container">
            <header class="mobile-header">
                <button id="menu-toggle" class="menu-toggle-btn"><i class="fas fa-bars"></i></button>
                <span class="header-title">Menu</span>
            </header>
            <main class="main-content">
                {% block dashboard_content %}{% endblock %}
            </main>
        </div>
    </div>
    <script src="{% static 'js/dashboard.js' %}"></script>
</body>
</html>